.header {
    min-width: 1024px;
    max-width: max-content;
    position: sticky;
    top: 0;  
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.main {
    min-height: calc(100% - 108px);
}