.header {
    width: 100%;
    max-width: 1024px;
    position: sticky;
    top: 0;  
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    gap: 16px;
}

.main {
    min-height: calc(100% - 108px);
}