@import "tailwindcss";

@theme {
  --color-light-gray: rgb(247, 248, 250);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbar-height: 64px;
  --text-secondary: rgba(133,136,158,1)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: OpenSans, RubleSign, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

.content-container {
  height: calc(100% - var(--navbar-height));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
